#service{
	background: #F2E9E1;
}
.client_logos {
    background: #CBE86B;
}

h2,h3 {
	color: #1C140D;
}
.section-title h2{
	color: #1C140D;
}
.service_icon,
.service_icon.icon2,
.service_icon.icon3{
    border-color: #CBE86B;
    border-radius: 50%;
    overflow: hidden;
}
.service_icon i{
	color: #CBE86B;
}