#service{
	background: #F2E9E1;
}

.client_logos {
    background: #CBE86B;
 }
#contact{
    background: #1C140D;
}
#header_wrapper{
    background: #1C140D;
    
}
.buttons_header{
    background-color: #CBE86B;
    color: #F2E9E1;
}
