/*
green #CADC70
purple #4F1F42
*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Open+Sans:300');

@font-face{
	font-family: 'Bulo Light';
	src:url(bulo-light.woff);
}

body{
	background-color: #ffffff;
}

h2{
	font-family: 'Open Sans', sans-serif;
	color: #CADC70;
	font-size: 2.3vw;
	top:16.5vw;
	left:30.7%;
	position: absolute;
}

#background{
	position: fixed;
	background-color: #4F1F42;
	z-index: -10;
	top: 0;
	left:0;
	-webkit-transition: background-color 1.5s; /* Safari */
    transition: background-color 1.5s;
}

body.inspiration #background{
	background-color: #CADC70;
}
body.development #background{
	background-color: #ffffff;
}

.home{
	width: 100%;
	position: absolute;
	opacity: 1;
	-webkit-transition: opacity 0.8s; /* Safari */
    transition: opacity 0.8s;
	/* IE10+ */ 
	background-image: -ms-radial-gradient(center, ellipse closest-side, rgba(79,31,66,1) 0%, rgba(255,255,255,0) 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-side, rgba(79,31,66,1) 0%, rgba(255,255,255,0) 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse closest-side, rgba(79,31,66,1) 0%, rgba(255,255,255,0) 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, rgba(79,31,66,1)), color-stop(100, rgba(255,255,255,0)));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse closest-side, rgba(79,31,66,1) 0%, rgba(255,255,255,0) 100%);

	/* W3C Markup */ 
	background-image: radial-gradient(ellipse closest-side at center, rgba(79,31,66,1) 0%, rgba(255,255,255,0) 100%);
}

body.inspiration .home{
	opacity: 0;
}

body.development .home{
	opacity: 0;
}

.logo{
	display: block;
	position: absolute;
	margin:0 30%;
	width: 40%;
}

.info{
	position: absolute;
	width:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #CADC70;
	text-align: left;
	line-height: 23px;
	bottom: 30px;
	text-align: center;
}
.info p{
	/*color:#CADC70;*/
}
.info img{
	margin-bottom: -5px;
}
.logo-hover{
	width: 40%;
	margin: 0 auto;
}
.menu{
	position: absolute;
	right: 40px;
	top: 40px;
}
.menu .menu-item{
	width:150px;
	height: 40px;
	margin-bottom: 20px;
}
.menu .menu-item .menu-title{
	color: #CADC70;
	float: left;
	width: 105px;
	font-family: 'Open Sans', sans-serif;
	/*font-weight: bold;*/
	font-size: 14px;
	line-height: 36px;
	text-align: right;
	opacity: 0;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

body.inspiration .menu-item .menu-title,
body.development .menu-item .menu-title{
	color: #4F1F42;
}

.menu-link{
	display: block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 10px solid white;
	float: right;
	-webkit-transition: border 0.5s; /* Safari */
    transition: border 0.5s;
}
body.inspiration .menu-link{
	border: 10px solid #fff;
}
body.development .menu-link{
	border: 10px solid #4F1F42;
}
.menu-link span{
	height: 7px;
	width: 7px;
	background-color: #CADC70;
	border-radius: 50%;
	display: block;
	position: relative;
	top: 4px;
	left: 4px;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

body.inspiration .menu-link span{
	background-color: #4F1F42;
}
body.development .menu-link span{
	background-color: #CADC70;
}
.menu-link:hover span{
	transform: scale(4);
}