@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Open+Sans:300");

/* colors
  #94B9D1 
  #ffffff
  #0A2436 
  #1D6391
  #2A485C
*/

section{
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "PT Sans", arial;
	display: none;
}
.buttons a{
	position: fixed;
	border-radius: 50%;
	background-color:#94B9D1;
	width: 70px;
	height: 70px;
	top:45%;
	left: 5vw;
}
.buttons a:before,
.buttons a:after{
	content:'';
	position: absolute;
	top: 30px;
	background-color: #ffffff;
	border-radius: 20px;
	display: block;
	width: 30px;
	height: 10px;
	left: 22px;
	transform: rotate(45deg);
	top: 20px;
}
.buttons a.prev:before{
	transform: rotate(-45deg);
	left: 17px;
}
.buttons a.prev:after{
	top: 35px;
	left: 17px;
}
.buttons a.next:after{
	transform: rotate(-45deg);
	top: 35px;
}
.buttons a.next{
	left: auto;
	right:5vw;
}
.footer{
	position: fixed;
	bottom: 0;
	height: 200px;
	color: #2A485C;
	width: 100%;
}
.footer span{
	position: absolute;
    right: 240px;
    top: 130px;
    font-size: 20px;
    font-family: "PT Sans",arial;
}

.footer .logo{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/*Home*/
body.home section.home{
	display: block;
}
.home .destaque{
	position: relative;
	width: 500px;
	height: 500px;
	margin: 20vh auto;
	background-color: #0A2436;
	border-radius: 50%;
	text-align: center;
	padding-top: 200px;
	box-sizing:border-box;
}
.home .destaque h1{
    color: #ffffff;
    display: block;
    font-size: 40px;
    font-weight: bold;
}
.home .destaque h2{
    color: #1D6391;
    display: block;
    font-size: 30px;
    margin-top: 20px;
}
.home .destaque .circle{
	position: absolute;
	border-radius: 50%;
	width:100px;
	height:100px;
	right: 10px;
	top: 350px;
	border: 50px solid #94B9D1;
	background-color: #ffffff;
}
.home .destaque .circle.bottom:before{
	content: '';
	position: relative;
	display: block;
	border-radius: 50%;
	width:50px;
	height:50px;
	top: 25px;
	left: 25px;
	background-color: #1D6391;
}
.home .destaque .circle.right{
	right: -30px;
	top: 310px;
	width: 50px;
	height: 50px;
	border:25px solid #1D6391;
	background-color: #1D6391;
	z-index: -1;
}

.home .destaque .circle.top{
	display: block;
	width:75px;
	height:75px;
	top: -30px;
	left: 25px;
	border:37.5px solid #1D6391;
	background-color: #94B9D1;
	z-index: -1;
}
.home .destaque .circle.top:before{
	content: '';
	position: relative;
	display: block;
	border-radius: 50%;
	width:37.5px;
	height:37.5px;
	top: 18.75px;
	left: 18.75px;
	background-color: #0A2436;
}

/*Companies*/
body.companies section.companies{
	display: block;
}
section.companies h2{
	color: #1D6391;
	font-family: "PT Sans", arial;
	font-weight: bold;
	font-size: 40px;
	width: 100%;
	text-align: center;
	margin-top: 10%;
}
section.companies .logos{
	width: 70%;
	margin: 50px 15%;
	display: block;
	position: absolute;
}
section.companies .logos li{
	width: 200px;
	height: 200px;
	float: left;
	position: relative;
	margin: 0 30px 10px 0;
}
section.companies .logos li img{
	position: relative;
	width: 100%;
}

