
body.about 
	
	#background
		background-color: whiteColor

	.menu-item 
		.menu-title
			color: purpleColor
			
		.menu-link
			border: 10px solid greenColor
			
			span
				background-color: greenColor