body.ielop
	overflow: visible

	#background
		background-color: greenColor

	.menu-item 
		.menu-title
			color: purpleColor
			
		.menu-link
			border: 10px solid whiteColor
			
			span
			background-color: purpleColor
			
	#home-container,
	#about-container,
	#team-container
		opacity: 0
				
	#ielop-container
		opacity: 1
		position: absolute
		z-index: 10
		
	#ielop-container
		opacity: 0
		/*background-color: white*/
		/*border-radius:50px*/
		width:70vw
	/*	height:100vh */
		margin: 15vh 15vw
		z-index: -10



#ielop-container h2
	top: -6%
	left: 60%
	color:#4F1F42
	font-size: 3vw
	position: absolute

#ielop-container .portfolio-container
	margin-top: 3%

#ielop-container .portfolio
	position: absolute
	border-radius: 50%
	background-color: white
	width: 15vw
	height: 15vw
	/*float:left*/
	margin: 0 0 1.6vw 0
	/*horizontal vertical [blur] [spread] color*/
	/*box-shadow: 1px 1px 2px 20px black*/

/*ieptbma*/
#ielop-container .portfolio.ieptbma
	background-image: url("../img/ieptbma-bg.png")
	background-size: 100% 100%
	margin-right: 0

#ielop-container .portfolio.ieptbma img
	transform: scale(0.9)
	width:70%
	margin: 28% 14%
	-webkit-transition: transform 1s /* Safari */
    transition: transform 1s

#ielop-container .portfolio.ieptbma:hover
	margin-right: 0

#ielop-container .portfolio.ieptbma:hover img
	transform: scale(1)


/*tedxruaportugal*/
#ielop-container .portfolio.tedx img
	width: 80%
	margin: 45% 10%

#ielop-container .portfolio.tedx img.logo-2
	display: none

#ielop-container .portfolio.tedx:hover
	background-color: black

#ielop-container .portfolio.tedx:hover img.logo-1
	display: none

#ielop-container .portfolio.tedx:hover img.logo-2
	display: block

#ielop-container .portfolio.cacatua
	overflow: hidden
	position: relative
    background: url(../img/cacatua-bg-branco.png) 50% 58% no-repeat

/*#ielop-container .portfolio.cacatua:hover
    background-image: url(../img/cacatua-bg-amarelo.png)
*/
#ielop-container .portfolio.cacatua .logo-filter
	position: absolute
	opacity: 0
	width: 100%
	height: 100%
	-webkit-transition: opacity 0.5s /* Safari */
    transition: opacity 0.5s
	background-color: 	#FFFF00
	border-radius: 20px

#ielop-container .portfolio.cacatua:hover .logo-filter
	opacity: 0.6

#ielop-container .portfolio.cacatua img.logo
	position: absolute
	margin: 31% 0 0 16%
	width:70%

#ielop-container .portfolio.ifind 
	background-image: url('../img/ifind-bg.jpg')

#ielop-container .portfolio.ifind img
	margin:20% 30%
	width: 40%
	-webkit-transition: transform 1s /* Safari */
    transition: transform 1s

#ielop-container .portfolio.ifind:hover img
	transform: rotateY(360deg)

#ielop-container .portfolio.direcize img
	margin: 40% 10%
